body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
padding-left:2em;
    border:1px solid;
    border-color:lightgray;
    border-radius: 2px;
    padding-top:10px;
    padding-left:10px;
    margin:.5em;
    height:30px;

}

.message-info{
    background-color: #CDDEFF;
    color: #281C88;

}

.message-success{
    background-color: #CFF3DA;
    color: #026229;


}

.message-warning{
    background-color: #FCFBC9;
    color: #A79844;

}

.message-error{
    background-color:#FAD2D7 ;
    color:#923046;
}